.class_picture{
    width: 683px;
    overflow: hidden;
    display: block;
    min-height: 514px;
    padding: 24px;
    position: relative;
    background-repeat: no-repeat;
}
.class_picture #header{
    
}
.class_picture #header_menu{
   width: 100%;
    height: 43px;
    padding-left: 20px;
    line-height: 43px; 
}
.class_picture #name_lession{
  color: white;  
}
.class_picture #header_title{
    font-size: 25px;
    margin: 20px 30px;
    font-weight: bold;
}
.class_picture #colorfulPicture_content{
    /*position: relative;*/
    width: 100%;
    min-height: 434px;
    display: block;
}
.class_picture #colorfulPicture_content > *{
    
}
.class_picture .lesstion{
    position: relative;
    top: 0px;
    left: 0px;
    display: none;
}
.class_picture .wrap_img{
    width: 450px;
	min-height:200px;
    float: left;
    overflow: hidden;
    padding: 0px 0px 0px 20px;
}
.class_picture .instruction_img{
    
}
.class_picture .wrap_lession{
    width: 184px;
    overflow: hidden;
    padding: 10px;
}
.class_picture .wrap_lesstion_img{
 margin-bottom: 10px;   
}
.class_picture .lesstion_img{
    
}
.class_picture .wrap_audio{
    
}
.class_picture #out_line_btn{
    position: absolute;
    top: 482px;
    left: 30px;
    cursor: pointer;
    display: none;
}
.class_picture .change_ques_btn{
    /*z-index: 10;*/
}
.class_picture #next_btn{
    position: absolute;
    top: 482px;
    left: 503px;
    cursor: pointer;
    display: none;
}

.class_picture #back_btn{
    position: absolute;
    top: 482px;
    left: 298px;
    display: none;
    cursor: pointer;
}
.class_picture #submit_btn, .class_picture #result_btn{
    position: absolute;
    top: 482px;
    left: 500px;
    cursor: pointer;
    display: none;
}
.class_picture #list_lesstion{
    width: 80%;
    height: 400px;
    position: absolute;
    top: 9%;
    left: 6%;
    background-size: 100% 398px;
}
.class_picture #list_lestion_header{
    padding-left: 10px;
    height: 34px;
    line-height: 34px;
}
.class_picture #close_list_less_btn{
    float: right;
    margin-top: 6px;
    margin-right: 5px;
    cursor: pointer;
}
.class_picture #header_cat{
    padding-left: 66px;
    height: 23px;
    line-height: 21px;
}
.class_picture .menu_lession{
    height: 30px;
    line-height: 30px;
    padding-left: 38px;
    cursor: pointer; 
}
.class_picture .menu_lession:hover{
    border: 1px solid #cbccd0;
    border-radius: 10px;
    background-color: #b8bbc2;
    color: white;
}
.class_picture .menu_active{
    border: 1px solid #cbccd0;
    border-radius: 10px;
    background-color: #b8bbc2;
    color: white;
}
.class_picture #list_lesstion_content{
    padding: 10px 0px 0px 15px;
    overflow: hidden;
    width: 565px;
    overflow-y: auto;
}
.class_picture #start_screen{
    display: block;
    width: 100%;
    overflow: hidden;
}
.class_picture #instruction_img_start{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: block;
}
.class_picture #start_btn{
    display: block;
    margin: auto;
    margin-top: 60px;
    cursor: pointer;
}
.class_picture .wrap_instruction_img img{
    display: block;
}

.class_picture #practice_intruction{
    display: none;
    color: #0F0FFF;
    font-size: 20px;
    padding-left: 60px;
    margin-top: 10px;
}
.class_picture .form_instruction{
    color: #F60;
    font-size: 20px;
    margin: 35px 10px 37px 60px; 
}

.class_picture .wrap_form_enter_answer{
    width: 397px;
    margin-top: 10px;
    }
.class_picture .wrap_img_question{
    width: 20px;
    float: left;
    height: 40px;
}
.class_picture .wrap_icon_result .icon_result{
    margin-top: 15px;
    display: none;
}
.class_picture #wrap_congratulation{
    width: 547px;
    min-height: 296px;
    margin: auto;
    position: relative;
    margin-top: 140px;
    background-repeat: no-repeat;
}
.class_picture .ques_img{
	float:left;
    margin-right: 15px;
}
.class_picture .ques_img img{
	cursor: pointer;
	display: block;
}
.class_picture .ques_img .icon_result{
	margin-top: 5px;
	margin-left: 5px;
    position: absolute;
	display: none;
	}
.class_picture .img_active{
	border: 2px solid black;
	display: block;
	border-radius: 5px;
}
.class_picture .ques_img {
    border: 4px solid #ff898c;
}