.numss{
    margin: 17px 0 0 5px;      
}
.nums{
    margin: 10px 8px 0 3px;     
}
.info_cont_one{
    margin-left: 10px
}
.action_fromLoginHome li{margin-left: 12px;}
.bg_top{ position: relative}
.pr_ceninfo_arrow_emoticons {
    top: -4px\0; 
}
.pr_ceninfo_wrap_btn_form_new_post{
    margin-left: 140px\0; 
}
 