@font-face { 
    font-family:Cheri;
	src: url("Cheri.eot")/*tpa=http://www.thuviengiaoduc.org/file/learn/child/learn_through_movies/dungchung/fonts/Cheri.eot*/;
	src: url("Cheri.eot-#iefix")/*tpa=http://www.thuviengiaoduc.org/file/learn/child/learn_through_movies/dungchung/fonts/Cheri.eot?#iefix*/ format('embedded-opentype'),
	url("Cheri.ttf")/*tpa=http://www.thuviengiaoduc.org/file/learn/child/learn_through_movies/dungchung/fonts/Cheri.ttf*/ format('truetype');
}

@font-face { 
    font-family:Coasbl;
	src: url("Coasbl.eot")/*tpa=http://www.thuviengiaoduc.org/file/learn/child/learn_through_movies/dungchung/fonts/Coasbl.eot*/;
	src: url("Coasbl.eot-#iefix")/*tpa=http://www.thuviengiaoduc.org/file/learn/child/learn_through_movies/dungchung/fonts/Coasbl.eot?#iefix*/ format('embedded-opentype'),
	url("Coasbl.ttf")/*tpa=http://www.thuviengiaoduc.org/file/learn/child/learn_through_movies/dungchung/fonts/Coasbl.ttf*/ format('truetype');
}

@font-face { 
    font-family:Coobpl;
	src: url("Coobpl.eot")/*tpa=http://www.thuviengiaoduc.org/file/learn/child/learn_through_movies/dungchung/fonts/Coobpl.eot*/;
	src: url('Coobpl.eot?#iefix') format('embedded-opentype'),
	url('Coobpl.ttf') format('truetype');
}

@font-face { 
    font-family:Gettysburg;
	src: url('Gettysburg.eot');
	src: url('Gettysburg.eot?#iefix') format('embedded-opentype'),
	url('Gettysburg.ttf') format('truetype');
}

@font-face { 
    font-family:BLATANT;
	src: url('BLATANT.eot');
	src: url('BLATANT.eot?#iefix') format('embedded-opentype'),
	url('BLATANT.ttf') format('truetype');
}

@font-face { 
    font-family: comic;
	src: url('COMIC.eot');
	src: url('COMIC.eot?#iefix') format('embedded-opentype'),
	url('COMIC.ttf') format('truetype');
}
