@font-face { 
    font-family:Cheri;
	src: url("Cheri-12.eot")/*tpa=http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Cheri.eot*/;
	src: url("Cheri-12.eot-#iefix")/*tpa=http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Cheri.eot?#iefix*/ format('embedded-opentype'),
	url("Cheri-12.ttf")/*tpa=http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Cheri.ttf*/ format('truetype');
}

@font-face { 
    font-family:Coasbl;
	src: url("Coasbl-12.eot")/*tpa=http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Coasbl.eot*/;
	src: url("Coasbl-12.eot-#iefix")/*tpa=http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Coasbl.eot?#iefix*/ format('embedded-opentype'),
	url("Coasbl-12.ttf")/*tpa=http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Coasbl.ttf*/ format('truetype');
}

@font-face { 
    font-family:Coobpl;
	src: url("Coobpl-12.eot")/*tpa=http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Coobpl.eot*/;
	src: url("Coobpl-1.eot-#iefix")/*tpa=http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Coobpl.eot?#iefix*/ format('embedded-opentype'),
	url("Coobpl-1.ttf")/*tpa=http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Coobpl.ttf*/ format('truetype');
}

@font-face { 
    font-family:Gettysburg;
	src: url("Gettysburg-1.eot")/*tpa=http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Gettysburg.eot*/;
	src: url("Gettysburg-1.eot-#iefix")/*tpa=http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Gettysburg.eot?#iefix*/ format('embedded-opentype'),
	url("Gettysburg-1.ttf")/*tpa=http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Gettysburg.ttf*/ format('truetype');
}

@font-face { 
    font-family:Blatant;
	src: url("Blatant.eot")/*tpa=http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Blatant.eot*/;
	src: url("Blatant.eot-#iefix")/*tpa=http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Blatant.eot?#iefix*/ format('embedded-opentype'),
	url("Blatant.ttf")/*tpa=http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Blatant.ttf*/ format('truetype');
}

@font-face { 
    font-family: Comic;
	src: url('http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Comic.eot');
	src: url('http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Comic.eot?#iefix') format('embedded-opentype'),
	url('http://thuviengiaoduc.org/file/learn/child/dungchung/lib_new_en/fonts/Comic.ttf') format('truetype');
}
