@font-face { 
    font-family: lcallig;
	src: url("lcallig-1.eot")/*tpa=http://goldenkids-data.thuviengiaoduc.org/file/learn/child/writing-letter/dungchung/fonts/lcallig.eot*/;
	src: url("lcallig-1.eot-#iefix")/*tpa=http://goldenkids-data.thuviengiaoduc.org/file/learn/child/writing-letter/dungchung/fonts/lcallig.eot?#iefix*/ format('embedded-opentype'),
	url("lcallig-1.ttf")/*tpa=http://goldenkids-data.thuviengiaoduc.org/file/learn/child/writing-letter/dungchung/fonts/lcallig.ttf*/ format('truetype');
}

@font-face { 
    font-family: mtcorsva;
	src: url('mtcorsva.eot');
	src: url('mtcorsva.eot?#iefix') format('embedded-opentype'),
	url('mtcorsva.ttf') format('truetype');
}

@font-face { 
    font-family: androgyne;
	src: url('androgyne.eot');
	src: url('androgyne.eot?#iefix') format('embedded-opentype'),
	url('androgyne.ttf') format('truetype');
}
