/*-----------------------------------------------------------------------------------*/
/*	Book Page Styles
/*-----------------------------------------------------------------------------------*/

/* Global Styles */

div.page-content {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #3c3c3c;
	line-height: 1.5em; 
}

h2, h3, h4, h5, h6 { 
	color: #602a59; 
	font-weight: normal;
	margin-left: -0.5%;	
}

h2 { font-size: 28px; margin-bottom: 0px; }
h3 { font-size: 20px; }
h4 { 
	font-size: 16px; 
	margin-top: 8%;
	margin-bottom: 0px; 
	font-weight: bold;
}


div.page-content a {
	color: #0064aa;
	text-decoration: none;
}

div.page-content a:hover {
	color: #3c3c3c;
}

div.page-content ul li {
	margin-top: 1%;
}

div.page-content div.preview-content {
	position: relative;
	z-index: 20;
	left: 3.5%;
	pointer-events: all;
}

/* Pages 2 & 3 Table of Content */

div.page-content div.preview-content.toc p {
	margin-top: 1%;
}

div.page-content div.preview-content.toc ul.toc {
	list-style: none;
	margin-top: 15%;
	padding-left: 0px;
	padding-right: 15%;
	font-size: 14px;
}

div.page-content div.preview-content.toc ul.toc li {
	margin-top: 2.5%;
	cursor: pointer;
}

div.page-content div.preview-content.toc ul.toc li span.number {
	color: #ffffff;
	background: #A6B0BB;
	padding: 1.5%; 
	margin-right: 7%;
}

div.page-content div.preview-content.toc ul.toc li span.text {
	display: inline-block;
	color: #ffffff;
	background: #A6B0BB;
	padding: 1.3% 1.5% 1% 4%;
	width: 78%;
	background-size: 100%;
}

/* Pages 4 & 5 Presentation */
div.page-content div.preview-content.presentation.left {
	padding-top: 2%;
	left: 3%;
	width: 45% !important;
}

div.page-content div.preview-content.presentation.right {
	width: 44%!important;
	padding-right: 7%;
	padding-top: 8.5%
}


div.page-content div.preview-content.presentation ul li {
	margin-bottom: 1.2%;
}

div.page-content a.button-purchase {
	display: block;
	position: absolute;
	top: 136%;
	left: 8%;
	width: 61%;
	height: 104%;
	z-index: 10;
	cursor: pointer;
}

/* Pages 8 & 9 Features */
div.page-content div.preview-content.features.left {
	padding-left: 1%;
	padding-top: 7%
}

div.page-content div.preview-content.features.right {
	padding-left: 1%;
	padding-top: 0%;
	top: -8%;
	left: 5%;
}

div.page-content div.preview-content.features img.let-us-know {
	width: 60%;
	height: 22%;
	left: 10%;
	bottom: -29%;
	position: absolute;
}
div.page-content div.preview-content.features ul {
	font-size: 14px;
}

div.page-content div.preview-content.features ul li {
	margin-top: 2%;
}

/* Pages 10 & 11 Responsive */
div.page-content div.preview-content.responsive.left {
	padding-left: 2%;
	padding-top: 4%;
}

div.page-content div.preview-content.responsive.right {
	padding-left: 0%;
	padding-top: 0%;
	top: -9%;
}

div.page-content div.preview-content.responsive h3 {
	margin-bottom: 0px;
}

div.page-content div.preview-content.responsive p {
	margin-top: 1%;
}

div.page-content div.preview-content.responsive ul li {
	margin-bottom: 1.8%;
}

/* Pages 12 & 13 Configuration */

div.page-content div.preview-content.configuration.left {
	width: 43%!important;
	padding-top: 3%;
}

/* Pages 14 & 15 Video */

div.page-content div.preview-content.video {
	padding-right: 0%;
}

div.page-content div.preview-content.video.left {
	padding-top: 5%;
}

div.page-content div.preview-content.video ul {
	font-size: 14px;
}

div.page-content div.preview-content.video ul li {
	margin-bottom: 2%;
}
div.page-content div.preview-content.video h3 { font-size: 23px; }
div.page-content div.preview-content.video h4 {
	margin-top: 15%;
	font-size: 15px;
}

