.class_pratice{
    width: 717px;
    overflow: hidden;
    display: block;
    border: 3px solid #CCC;
    border-radius: 10px;
    min-height: 534px;
    position: relative;
}
.class_pratice #header{
    
}
.class_pratice #header_menu{
   width: 100%;
    height: 30px;
    background-color: #92D050;
    padding-left: 20px;
    line-height: 30px; 
}
.class_pratice #name_lession{
  color: white;  
}
.class_pratice #header_title{
    font-size: 25px;
    margin: 20px 30px;
    font-weight: bold;
}
.class_pratice #pratice_content{
    /*position: relative;*/
    width: 100%;
    min-height: 434px;
    display: block;
}
.class_pratice #pratice_content > *{
    
}
.class_pratice .lesstion{
    position: relative;
    top: 0px;
    left: 0px;
    display: none;
}
.class_pratice .wrap_instruction_img{
    width: 420px;
    float: left;
    overflow: hidden;
    padding: 0px 0px 0px 60px;
}
.class_pratice .instruction_img{
    
}
.class_pratice .wrap_lession{
    width: 217px;
    overflow: hidden;
    padding: 10px;
}
.class_pratice .wrap_lesstion_img{
 margin-bottom: 10px;   
}
.class_pratice .lesstion_img{
    
}
.class_pratice .wrap_audio{
    
}
.class_pratice #out_line_btn{
    position: absolute;
    top: 500px;
    left: 20px;
    cursor: pointer;
    display: none;
}
.class_pratice .change_ques_btn{
    /*z-index: 10;*/
}
.class_pratice #next_btn{
    position: absolute;
    top: 500px;
    left: 620px;
    cursor: pointer;
    display: none;
}

.class_pratice #back_btn{
    position: absolute;
    top: 500px;
    left: 620px;
    display: none;
    cursor: pointer;
}
.class_pratice #submit_btn,.class_pratice #result_btn{
    position: absolute;
    top: 500px;
    left: 620px;
    cursor: pointer;
    display: none;
}
.class_pratice #list_lesstion{
    width: 80%;
    height: 400px;
    position: absolute;
    top: 9%;
    left: 6%;
    background-size: 100% 398px;
}
.class_pratice #list_lestion_header{
    padding-left: 10px;
    height: 34px;
    line-height: 34px;
}
.class_pratice #close_list_less_btn{
    float: right;
    margin-top: 6px;
    margin-right: 5px;
    cursor: pointer;
}
.class_pratice #header_cat{
    padding-left: 66px;
    height: 23px;
    line-height: 21px;
}
.class_pratice .menu_lession{
    height: 30px;
    line-height: 30px;
    padding-left: 38px;
    cursor: pointer; 
}
.class_pratice .menu_lession:hover{
    border: 1px solid #cbccd0;
    border-radius: 10px;
    background-color: #b8bbc2;
    color: white;
}
.class_pratice .menu_active{
    border: 1px solid #cbccd0;
    border-radius: 10px;
    background-color: #b8bbc2;
    color: white;
}
.class_pratice #list_lesstion_content{
    padding: 10px 0px 0px 15px;
    overflow: hidden;
    width: 565px;
    overflow-y: auto;
}
.class_pratice #start_screen{
    display: block;
    width: 100%;
    overflow: hidden;
}
.class_pratice #instruction_img_start{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: block;
}
.class_pratice #start_btn{
    display: block;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
}
.class_pratice .wrap_instruction_img img{
    display: block;
}
.class_pratice .word_answer{
    width: 350px;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.class_pratice #practice_intruction{
    display: none;
    color: #0F0FFF;
    font-size: 20px;
    padding-left: 60px;
    margin-top: 10px;
}
.class_pratice .form_instruction{
   color: #F60;
    font-size: 20px;
    margin: 20px 10px 10px 60px; 
}
.class_pratice .form_answer_correct{
    display: none;
}
.class_pratice .wrap_form_enter_answer{
    width: 397px;
    margin-top: 10px;
    }
.class_pratice .wrap_icon_result{
    width: 20px;
    float: left;
    height: 40px;
}
.class_pratice .wrap_icon_result .icon_result{
    margin-top: 15px;
    display: none;
}
.class_pratice #wrap_congratulation{
    background-color: #EDECEC;
    border: 5px solid #92C4DF;
    border-radius: 5px;
    margin-top: 50px;
    width: 500px;
    min-height: 230px;
    margin: auto;
    position: relative;
    margin-top: 140px;
}
