.class_learning{
    width: 717px;
    overflow: hidden;
    display: block;
    border: 3px solid #CCC;
    border-radius: 10px;
    min-height: 534px;
    position: relative;
}
.class_learning .header{
    
}
.class_learning .header_menu{
   width: 100%;
    height: 30px;
    background-color: #92D050;
    padding-left: 20px;
    line-height: 30px; 
}
.class_learning .name_lession{
  color: white;  
}
.class_learning .header_title{
    font-size: 25px;
    margin: 20px 30px;
    font-weight: bold;
}
.class_learning .learning_content{
    /*position: relative;*/
    width: 100%;
    min-height: 434px;
    display: block;
}
.class_learning .learning_content > *{
    
}
.class_learning .lesstion{
    position: relative;
    top: 0px;
    left: 0px;
    display: none;
}
.class_learning .wrap_instruction_img{
    width: 460px;
    float: left;
    overflow: hidden;
    padding: 10px;
}
.class_learning .instruction_img{
    
}
.class_learning .wrap_lession{
    width: 217px;
    overflow: hidden;
    padding: 10px;
}
.class_learning .wrap_lesstion_img{
 margin-bottom: 10px;   
}
.class_learning .lesstion_img{
    
}
.class_learning .wrap_audio{
    
}
.class_learning .out_line_btn{
    position: absolute;
    top: 500px;
    left: 20px;
    cursor: pointer;
    display: none;
}
.class_learning .change_ques_btn{
    /*z-index: 10;*/
}
.class_learning .next_btn, .class_learning .theend_btn{
    position: absolute;
    top: 500px;
    left: 620px;
    cursor: pointer;
    display: none;
}
.class_learning .back_btn{
    position: absolute;
    top: 500px;
    left: 620px;
    display: none;
    cursor: pointer;
}
.class_learning .list_lesstion{
    width: 80%;
    height: 400px;
    position: absolute;
    top: 9%;
    left: 6%;
    background-size: 100% 420px;
}
.class_learning .list_lestion_header{
    padding-left: 10px;
    height: 34px;
    line-height: 34px;
}
.class_learning .close_list_less_btn{
    float: right;
    margin-top: 6px;
    margin-right: 5px;
    cursor: pointer;
}
.class_learning .header_cat{
    padding-left: 66px;
    height: 23px;
    line-height: 21px;
}
.class_learning .menu_lession{
    height: 30px;
    line-height: 30px;
    padding-left: 38px;
    cursor: pointer; 
}
.class_learning .menu_lession:hover{
    border: 1px solid #cbccd0;
    border-radius: 10px;
    background-color: #b8bbc2;
    color: white;
}
.class_learning .list_lesstion_content{
    padding: 10px 0px 0px 15px;
    overflow: hidden;
    width: 565px;
    overflow-y: auto;
}
.class_learning .start_screen{
    display: block;
    width: 100%;
    overflow: hidden;
}
.class_learning .instruction_img_start{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: block;
}
.class_learning .start_btn{
    display: block;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
}
.class_learning .menu_active{
    border: 1px solid #cbccd0;
    border-radius: 10px;
    background-color: #b8bbc2;
    color: white;
}
.class_learning .wrap_congratulation{
    background-color: #EDECEC;
    border: 5px solid #92C4DF;
    border-radius: 5px;
    margin-top: 50px;
    width: 500px;
    min-height: 230px;
    margin: auto;
    position: relative;
    margin-top: 140px;
}