.wrme{
    width: 505px;
    overflow: hidden;
}
.letter{        
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 20px;
    width: 385px;
    border:  5px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    font-family: Arial;
    font-size: 15px;
    padding: 145px 50px 50px 50px;
        
}
#letter1{
    min-height: 300px;   
}
#form_sendd #send_post, #form_sendd #reset{
    text-decoration: none;
    padding: 5px 7px;
    color: white;
    border: 1px solid gray;
    background: #3282C2;
    border-radius: 8px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
    -moz-border-radius: 8px;
    -moz-box-shadow: 3px 3px 4px rgba(0,0,0,.5);
    background: -moz-linear-gradient(center top,#A4CCEC,#72A6D4 25%,#3282C2 45%,#357CBD 85%,#72A6D4);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
    background: -webkit-gradient(linear,center top,center bottom,from(#A4CCEC),color-stop(25%,#72A6D4),color-stop(45%,#3282C2),color-stop(85%,#357CBD),to(#72A6D4));
    line-height: 20px;
    font-family: comic;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
#send_com #title_send{
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

#form_sendd #send_post:hover, #form_sendd #reset:hover{
   background: darkRed;
    background: -moz-linear-gradient(center top,#F5795D,#E55E3F 25%,#D02700 45%,#E55E3F 85%,#F5795D);
    background: -webkit-gradient(linear,center top,center bottom,from(#F5795D),color-stop(25%,#E55E3F),color-stop(45%,#D02700),color-stop(85%,#E55E3F),to(#F5795D));
    cursor: pointer;
}