.class_sequencing{
    width: 717px;
    overflow: hidden;
    display: block;
    border: 3px solid #CCC;
    border-radius: 10px;
    min-height: 490px;
    position: relative;
}
.class_sequencing #header{
    
}
.class_sequencing #header_menu{
   width: 100%;
    height: 30px;
    background-color: #92D050;
    padding-left: 20px;
    line-height: 30px; 
}
.class_sequencing #name_lession{
  color: white;  
}
.class_sequencing #header_title{
    font-size: 25px;
    margin: 20px 30px;
    font-weight: bold;
}

.class_sequencing .lesson{
    position: relative;
    top: 0px;
    left: 0px;
    display: none;
    padding-left: 75px;
    padding-top: 30px;
}

.class_sequencing #out_line_btn{
    position: absolute;
    top: 94%;
    left: 20px;
    cursor: pointer;
    display: none;
}
.class_sequencing .change_ques_btn{
    /*z-index: 10;*/
}
.class_sequencing #next_btn{
    position: absolute;
    top: 94%;
    left: 620px;
    cursor: pointer;
    display: none;
}

.class_sequencing #back_btn{
    position: absolute;
    top: 94%;
    left: 620px;
    display: none;
    cursor: pointer;
}
.class_sequencing #submit_btn, .class_sequencing #result_btn{
    position: absolute;
    top: 94%;
    left: 620px;
    cursor: pointer;
    display: none;
}
.class_sequencing #list_lesson{
    width: 80%;
    height: 400px;
    position: absolute;
    top: 9%;
    left: 6%;
    background-size: 100% 398px;
}
.class_sequencing #list_lestion_header{
    padding-left: 10px;
    height: 34px;
    line-height: 34px;
}
.class_sequencing #close_list_less_btn{
    float: right;
    margin-top: 6px;
    margin-right: 5px;
    cursor: pointer;
}
.class_sequencing #header_cat{
    padding-left: 66px;
    height: 23px;
    line-height: 21px;
}
.class_sequencing .menu_lession{
    height: 30px;
    line-height: 30px;
    padding-left: 38px;
    cursor: pointer; 
}
.class_sequencing .menu_lession:hover{
    border: 1px solid #cbccd0;
    border-radius: 10px;
    background-color: #b8bbc2;
    color: white;
}
.class_sequencing .menu_active{
    border: 1px solid #cbccd0;
    border-radius: 10px;
    background-color: #b8bbc2;
    color: white;
}
.class_sequencing #list_lesson_content{
    padding: 10px 0px 0px 15px;
    overflow: hidden;
    width: 565px;
    overflow-y: auto;
}
.class_sequencing #start_screen{
    display: block;
    width: 100%;
    overflow: hidden;
}
.class_sequencing #instruction_img_start{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: block;
}
.class_sequencing #start_btn{
    display: block;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
}
.class_sequencing .wrap_instruction_img img{
    display: block;
}
.class_sequencing .word_answer{
    width: 350px;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.class_sequencing #practice_intruction{
    display: none;
    color: #0F0FFF;
    font-size: 20px;
    padding-left: 60px;
    margin-top: 10px;
}
.class_sequencing .form_instruction{
   color: #F60;
    font-size: 20px;
    margin: 20px 10px 10px 60px; 
}
.class_sequencing .form_answer_correct{
    display: none;
}
.class_sequencing .wrap_form_enter_answer{
    width: 397px;
    margin-top: 10px;
    }
.class_sequencing .wrap_icon_result{
    width: 20px;
    float: left;
    height: 40px;
}

.class_sequencing #wrap_congratulation{
    background-color: #EDECEC;
    border: 5px solid #92C4DF;
    border-radius: 5px;
    margin-top: 50px;
    width: 500px;
    min-height: 230px;
    margin: auto;
    position: relative;
    margin-top: 140px;
}

.class_sequencing .wrap_drag{
    float: left;
    margin: 0px;
    padding: 0px;
    margin-right: 50px;
}

.class_sequencing .drag{
    display: block;
    width: 280px;
    height: 32px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 15px;
    position: relative;
    background-size: 100% 100%;
}
.class_sequencing .drag img{
    width: 270px;
    height: 79px;
}
.class_sequencing .result_screen{
    width: 100%;
    line-height: 50px;
    color: #ff07ff;
    font-size: 20px;
    display: none;
	margin-top: 5px;
}
/*new*/
.class_sequencing .wrap_lession{
    width: 217px;
    overflow: hidden;
}
.class_sequencing .wrap_lesson_img{
    margin-bottom: 10px;   
}
.class_sequencing #sequencing_intruction{
    text-align: center;
    color: #d3152f;
    font-size: 25px;
    margin-top: 10px;
}
.class_sequencing .word{
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 32px;
    font-size: 20px;
}