.choose_name{
	top: 0px;
	left:720px;
	background-color: #FBFDBF;
	border: 5px solid blue;
	border-radius: 20px;
	display:block;
	overflow:hidden;
	position: absolute;
	width: 710px;
	height: 510px;
}

.choose_name .item{
	width: 150px;
	height: 150px;
	background-color: pink;
	border: 2px solid red;
	border-radius: 5px;
	position: absolute;
	left: 258px;
	}
.choose_name .icon{
	position: absolute;
	width: 150px;
	height: 150px;
	background-color: #ccc;
	border: 2px solid blue;
	border-radius: 5px;
	left: 530px;
	opacity: 1!important;
	}
.choose_name #form_item, .choose_name #form_icon{
	width: 50%;
	height: 100%;
	}
.choose_name .word_enter{ 
	border-bottom: 1px dotted black;
	width: 46px;
	margin-left: 5px;
	margin-right: 5px;
	}
.choose_name .word{
	position: absolute;
	left: 10px;
	}
.choose_name .icon_img{
	width: 149px;
	height: 149px;
	}
#game_choose_name_wrap .result{
	position: absolute;
	}
.choose_name .bottom_btn{
	margin-top: 5px;
	margin-left: 5px;
	}
#button_bar{
	width: 735px;
	position: absolute;
	top: 528px;
	left: 0px;
	}
#game_choose_name_wrap{
	width: 720px;
	height: 570px;
	top: 0px;
	left: 0px;
	position: relative;
	overflow: hidden;
	}
#change_question_btn{
	cursor: pointer;
	width: 123px;
	text-align: center;
	margin: auto;
	}
#slide_order{
	width: 60px;
	height: 32px;
	text-align: center;
	top: -11px;
	position: relative;
	}
#wrap_bottom_btn{
	position: absolute;
	top: 2px;
	left: 550px;
	display: none;
	}