#scienkids_bai8{
	width: 719px;
	height: auto;
	text-align: left;
}
#scienkids_bai8 .loibh{
	font-size: 16px;
	margin-left: 5px;
	padding: 5px;
	height: 300px;
	line-height: 150%;
	overflow-y: scroll;
	margin-top: 12px;
}
#scienkids_bai8 .dich_mobile{ color: #a15600; background: #e1f1d0; border-radius:8px; padding:5px; z-index: 10; }
#scienkids_bai8 .info{ font-size:12px; padding:5px; border:1px solid #d9d9d9; height:200px; width:390px; line-height:150%; overflow-y:scroll; }
#scienkids_bai8 .tab{ padding:5px; background:#efefef; font-weight:bold; }
#scienkids_bai8 .side{ border-bottom:1px solid #efefef; height:5px; }
#scienkids_bai8 .youtube{ display:block; }
#scienkids_bai8 .server_vn{ display:none; }
	
#scienkids_bai8 .scienkids1_khung_enjoin{
	width: 702px;
	height: 47px;
	background-repeat: no-repeat;
	/*background-size: contain;*/
	background-size: 702px 47px;
	}
#scienkids_bai8 .scienkids1_khung_enjoin, #scienkids_bai8 .scienkids1_number{
	width: 75px;
	height: 47px;
	display: block;
	text-align: center;
	line-height: 98px;
	font-size: 76px;
	color: #9FC132;
	float: left;
	}
#scienkids_bai8 .scienkids1_khung_enjoin, #scienkids_bai8 .scienkids1_text{
	width: 590px;
	height: 36px;
	display: block;
	float: left;
	padding: 8px 0px 0px 0px;
	font-size: 16px;
}
#wrap_crossword{
	width: 719px;
	height: auto;
	position:relative;
	height: 745px;
	}
#wrap_crossword > *{
	position: absolute;
}
#crossword{
	position: relative;
	left: -7px;
	width: 395px;
	height: 532px;
	float: left;
	background-image: url(crossword-1.png)/*tpa=http://goldenkids-data.thuviengiaoduc.org/file/learn/child/scienkids/bai8/images/crossword.png*/;
	z-index: 1;
	}
#scienkids_bai8 #down{
	width: 301px;
	height: 228px;
	background-image: url(down-1.png)/*tpa=http://goldenkids-data.thuviengiaoduc.org/file/learn/child/scienkids/bai8/images/down.png*/;
	left: 391px;
	top: 0px;
	padding: 40px 24px 5px 20px;
	background-repeat: no-repeat;
}
#scienkids_bai8 #down input, #scienkids_bai8 #across input{ 
	border: 1px solid #CCC;
	border-radius: 5px;
	height: 16px;
}
#scienkids_bai8 #across{
	width: 299px;
	height: 220px;
	background-image: url(cross-13.png)/*tpa=http://goldenkids-data.thuviengiaoduc.org/file/learn/child/scienkids/bai8/images/cross.png*/;
	top: 267px;
	left: 391px;
	padding: 35px 5px 35px 23px;
	background-repeat: no-repeat;
	}
#scienkids_bai8 #answer_across{
	left: -11px;
	width: 100%;
	height: 157px;
	background-image: url(wordbank-1.png)/*tpa=http://goldenkids-data.thuviengiaoduc.org/file/learn/child/scienkids/bai8/images/wordbank.png*/;
	top: 534px;
	}
#scienkids_bai8 #question_title, #scienkids_bai8 .question_0, #scienkids_bai8 .question_1, #scienkids_bai8 .question_2{
	font-size: 25px;
}
#scienkids_bai8 #question_title{
	color:#F63;
	}
#scienkids_bai8 .question_0{
	color: blue;
	}
#scienkids_bai8 .question_1{
	color: blue;
	}
#scienkids_bai8 .question_2{
	color: blue;
}
#scienkids_bai8 .vietnamese{
	margin:0px;
	}
#scienkids_bai8 .question{
	color: blue;
	}
#scienkids_bai8 .question_choose{
	left: -13px;
	position: relative;
	top: -50px;
	background-image: url(tell_me-1.png)/*tpa=http://goldenkids-data.thuviengiaoduc.org/file/learn/child/scienkids/bai8/images/tell_me.png*/;
	padding: 51px 33px 62px 46px;
	width: 640px;
	height: 109px;
	}
#scienkids_bai8 .video{
	width: 420px;
	margin-right: 8px;
	border: 3px solid #FFA953;
	/*border-radius: 10px;*/
	height:330px;
	float: left;
	}
#scienkids_bai8 .scienkids1_dich{
	border: 3px solid #FFA953;
	border-radius: 10px;
	width: 260px;
	margin-left: 10px;
	height: 330px;
	line-height: 150%;
	overflow-y: hidden;
	}
#scienkids_bai8 #wrap_enjoin{
	width: 719px;
	height: 346px;
	position: relative;
	background-image:url(khung-Enjoy-1.png)/*tpa=http://goldenkids-data.thuviengiaoduc.org/file/learn/child/scienkids/bai8/images/khung-Enjoy.png*/;
	}
#scienkids_bai8 .style1{
	color: blue;
	display:block;
	}
#scienkids_bai8 .img_title{
    margin: 15px 0px 10px 0px;
	}
#scienkids_bai8 #answer{
	width: 703px;
	border: 3px solid #EF6910;
	border-radius: 10px;
	padding: 5px;
	}
#scienkids_bai8 #form_cift_box{
	width: 677px;
	min-height: 100px;
	padding: 0px 18px 0px 18px;
	border: 3px solid #ef6910;
	border-radius: 10px;
	font-size: 16px;
	color: #03C;"
	}
#scienkids_bai8 .bai_enjoin{
	width: 195px;
	height: 255px;
	top: 70px;
	left: 24px;
	position: absolute;
	}
#scienkids_bai8 .enjoin_btn{
	position: absolute;
	top: 305px;
	cursor: pointer;
	}
#scienkids_bai8 #enjoin_pre_btn{
	left: 240px;
	}
#scienkids_bai8 #enjoin_pre_btn:active{
	left: 235px;
	}
#scienkids_bai8 #enjoin_next_btn{
	left: 330px;
	}
#scienkids_bai8 #enjoin_next_btn:active{
	left: 335px;
	}
#scienkids_bai8 .imager_enjoin{
	width: 468px;
	height: 300px;
	top: 19px;
	position: absolute;
	left: 243px;
	z-index: 0;
	}
#scienkids_bai8 #slide_order{
	width: 60px;
	height: 32px;
	position: absolute;
	top: 305px;
	left: 272px;
	text-align:center;
	}
#scienkids_bai8 .discovery{
	padding-left: 8px;
	}
#scienkids_bai8 #down p{
 	color:blue;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 11px;
	}
	
#ticker{
	z-index: 10!important;
	}
#tickerbg{
	z-index: 10!important;
	}
.bai_enjoin p span{
	background-color: transparent!important;
	}
.question_choose #question_title{
	line-height: 30px;
	}
.question_choose label{
	line-height: 25px;
	}
  .bai_text{
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
    }
    #tickerbg, #ticker{
        z-index: 10;
    }    
    .bai_text span, .skbottom span{
        background-color: transparent!important;
    }
	p .question {
		color: blue;
	}
     #scienkids_bai8 #down p {
        margin: 0px;
        margin-top: 8px;
        }
    #scienkids_bai8 .question {
        color: blue !important;
        margin: -9px 0px 15px 0px !important;
        }
	/*
#scienkids_bai8 #across p{
    color:blue;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	}
#scienkids_bai8 #wrap_enjoin >*{
	z-index:1;
}*/
/*-----------------------------------------*/
/*
#scienkids_bai8 .mess {
	width: 490px;
	padding: 5px;
	height: 100px;
	border: 1px solid #D6E4F2;
}
*/
