#scienkids_bai5{
	width: 719px;
	height: auto;
	text-align: left;
}
#scienkids_bai5 .loibh{
	font-size: 16px;
	margin-left: 5px;
	padding: 5px;
	height: 300px;
	line-height: 150%;
	overflow-y: scroll;
	margin-top: 12px;
}
#scienkids_bai5 .info{ font-size:12px; padding:5px; border:1px solid #d9d9d9; height:200px; width:390px; line-height:150%; overflow-y:scroll; }
#scienkids_bai5 .tab{ padding:5px; background:#efefef; font-weight:bold; }
#scienkids_bai5 .side{ border-bottom:1px solid #efefef; height:5px; }
#scienkids_bai5 .youtube{ display:block; }
#scienkids_bai5 .server_vn{ display:none; }
	
#scienkids_bai5 .scienkids1_khung_enjoin{
	width: 702px;
	height: 47px;
	background-repeat: no-repeat;
	/*background-size: contain;*/
	background-size: 702px 47px;
	}
#scienkids_bai5 .scienkids1_khung_enjoin, #scienkids_bai5 .scienkids1_number{
	width: 75px;
	height: 47px;
	display: block;
	text-align: center;
	line-height: 98px;
	font-size: 76px;
	color: #9FC132;
	float: left;
	}
#scienkids_bai5 .scienkids1_khung_enjoin, #scienkids_bai5 .scienkids1_text{
	width: 590px;
	height: 36px;
	display: block;
	float: left;
	padding: 8px 0px 0px 0px;
	font-size: 16px;
}
#wrap_crossword{
	width: 719px;
	height: auto;
	position:relative;
	height: 745px;
	}
#wrap_crossword > *{
	position: absolute;
}
#crossword{
	width: 395px;
	height: 532px;
	float: left;
	background-image: url(bg_o-1.jpg)/*tpa=http://goldenkids-data.thuviengiaoduc.org/file/learn/child/scienkids/bai5/images/bg_o.jpg*/;
	z-index: 1;
	}
#scienkids_bai5 #down{
	width: 301px;
	height: 228px;
	background-image: url(bg_down-1.png)/*tpa=http://goldenkids-data.thuviengiaoduc.org/file/learn/child/scienkids/bai5/images/bg_down.png*/;
	left: 391px;
	top: 0px;
	padding: 41px 24px 17px 20px;
	background-repeat: no-repeat;
}
#scienkids_bai5 #down input, #scienkids_bai5 #across input{ 
	border: 1px solid #CCC;
	border-radius: 5px;
	height: 16px;
}
#scienkids_bai5 #across{
	width: 299px;
	height: 220px;
	background-image: url(bg_cross-1.png)/*tpa=http://goldenkids-data.thuviengiaoduc.org/file/learn/child/scienkids/bai5/images/bg_cross.png*/;
	top: 289px;
	left: 391px;
	padding: 12px 16px 52px 23px;
	background-repeat: no-repeat;
	}
#scienkids_bai5 #answer_across{
	width: 100%;
	height: 157px;
	background-image: url(word-1.jpg)/*tpa=http://goldenkids-data.thuviengiaoduc.org/file/learn/child/scienkids/bai5/images/word.jpg*/;
	top: 570px;
	}
#scienkids_bai5 #question_title, #scienkids_bai5 .question_0, #scienkids_bai5 .question_1, #scienkids_bai5 .question_2{
	font-size: 25px;
}
#scienkids_bai5 #question_title{
	color:#F63;
	}
#scienkids_bai5 .question_0{
	color: #6CF;
	}
#scienkids_bai5 .question_1{
	color: #6C6;
	}
#scienkids_bai5 .question_2{
	color: #66F;
}
#scienkids_bai5 .vietnamese{
	margin:0px;
	}
#scienkids_bai5 .question{
	color: #f2f8f9;
	}
#scienkids_bai5 .question_choose{
	background-image: url(question-2.jpg)/*tpa=http://goldenkids-data.thuviengiaoduc.org/file/learn/child/scienkids/bai5/images/question.jpg*/;
	padding: 51px 33px 62px 46px;
	width: 640px;
	height: 109px;
	}
#scienkids_bai5 .video{
	width: 420px;
	margin-right: 8px;
	border: 3px solid #FFA953;
	/*border-radius: 10px;*/
	height:330px;
	float: left;
	}
#scienkids_bai5 .scienkids1_dich{
	border: 3px solid #FFA953;
	border-radius: 10px;
	width: 260px;
	margin-left: 10px;
	height: 330px;
	line-height: 150%;
	overflow-y: hidden;
	}
#scienkids_bai5 #wrap_enjoin{
	width: 719px;
	height: 346px;
	position: relative;
	background-image:url(khung-Enjoy-7.png)/*tpa=http://goldenkids-data.thuviengiaoduc.org/file/learn/child/scienkids/bai5/images/khung-Enjoy.png*/;
	}
#scienkids_bai5 .style1{
	color: blue;
	display:block;
	}
#scienkids_bai5 .img_title{
    margin: 15px 0px 10px 0px;
	}
#scienkids_bai5 #answer{
	width: 703px;
	border: 3px solid #EF6910;
	border-radius: 10px;
	padding: 5px;
	}
#scienkids_bai5 #form_cift_box{
	width: 677px;
	min-height: 100px;
	padding: 0px 18px 0px 18px;
	border: 3px solid #ef6910;
	border-radius: 10px;
	font-size: 16px;
	color: #03C;"
	}
#scienkids_bai5 .bai_enjoin{
	width: 195px;
	height: 255px;
	top: 70px;
	left: 24px;
	position: absolute;
	}
#scienkids_bai5 .enjoin_btn{
	position: absolute;
	top: 305px;
	cursor: pointer;
	}
#scienkids_bai5 #enjoin_pre_btn{
	left: 240px;
	}
#scienkids_bai5 #enjoin_pre_btn:active{
	left: 235px;
	}
#scienkids_bai5 #enjoin_next_btn{
	left: 330px;
	}
#scienkids_bai5 #enjoin_next_btn:active{
	left: 335px;
	}
#scienkids_bai5 .imager_enjoin{
	width: 468px;
	height: 300px;
	top: 19px;
	position: absolute;
	left: 243px;
	z-index: 0;
	}
#scienkids_bai5 #slide_order{
	width: 60px;
	height: 32px;
	position: absolute;
	top: 305px;
	left: 272px;
	text-align:center;
	}
#scienkids_bai5 .discovery{
	padding-left: 8px;
	}
#scienkids_bai5 #down p{
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	}
	
#ticker{
	z-index: 10!important;
	}
#tickerbg{
	z-index: 10!important;
	}
.bai_enjoin p span{
	background-color: transparent!important;
	}
.question_choose #question_title{
	line-height: 30px;
	}
.question_choose label{
	line-height: 25px;
	}
  .bai_text{
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
    }
    #tickerbg, #ticker{
        z-index: 10;
    }    
    .bai_text span{
        background-color: transparent!important;
    }
	/*
#scienkids_bai5 #across p{
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	}
#scienkids_bai5 #wrap_enjoin >*{
	z-index:1;
}*/
/*-----------------------------------------*/
/*
#scienkids_bai5 .mess {
	width: 490px;
	padding: 5px;
	height: 100px;
	border: 1px solid #D6E4F2;
}
*/
