/* Global */
img {
    border: none;
}

.no_border {
    border: 1px solid transparent !important;
}

.details table {
    width: 680px;
    border-collapse: collapse;
    font-size: 12px;
}

.details table td {
    padding-left: 10px;
    height: 45px;
}

.details th, .details td {
    border: 1px solid #DDDDDD;
}

.first_tr {
    height: 45px;
    background: #4B7D1C !important;
    color: white;
    font-size: 14px;
}

.td_first {
    font-weight: bold;
}

.vcab_noidung {
    width: 745px;
    margin: 10px auto;
}

.vcab_note {
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 20px;
}

.vcab_unit {
    width: 100%;
    float: left;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 12px 0;
}

.vcab_viptit {
    width: 100%;
    float: left;
    height: 28px;
    background: url(vcab_title-1.jpg)/*tpa=http://noidung.thuviengiaoduc.org/file/baihoc/listening/luyen-nghe-tieng-anh-co-ban/luyen-tap/5-part1/game_1/images/vcab_title.jpg*/ top left no-repeat;
    margin-bottom: 15px;
}

.vcab_hr {
    width: 100%;
    float: left;
    height: 1px;
    background: #dcdcdc;
    margin-bottom: 15px;
}

.vcab_vocab {
    width: 100%;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #767676;
    margin: 10px 0;
}

.vcab_vocab.vcab_name {
    color: #d56d00;
}

.vcab_vocab.vcab_green {
    color: #4a7d1b;
}

.vcab_content {
    width: 100%;
    float: left;
    text-align: left;
}

.vcab_trans {
    width: 40%;
    margin: 10px auto;
    color: #d56d00;
}

.vcab_content .details {
    padding: 0;
}

.vcab_content .details table {
    width: 100%;
    font-size: 15px;
}

.vcab_first {
    font-size: 16px;
    font-weight: bold;
}

.vcab_3 span {
    border-bottom: 1px dashed #c0c0c0;
}

.vcab_3 {
    position: relative;
}

.vcab_space20 {
    width: 100%;
    clear: both;
    height: 20px;
}

.vcab_space10 {
    width: 100%;
    clear: both;
    height: 10px;
}

.vcab_other_title {
    width: 95%;
    padding-left: 5%;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #767676;
    height: 26px;
    line-height: 26px;
    background: url(vcab_book-1.png)/*tpa=http://noidung.thuviengiaoduc.org/file/baihoc/listening/luyen-nghe-tieng-anh-co-ban/luyen-tap/5-part1/game_1/images/vcab_book.png*/ top left no-repeat;
    margin: 15px 0 5px;
    color: #d56d00;
}

.vcab_other_content {
    width: 95%;
    padding-left: 5%;
    font-size: 14px;
    line-height: 22px;
}

.vcab_other_content a {
    color: #3680a0;
}

.vcab_other_content a:hover {
    text-decoration: underline;
}

.vcab_3box {
    width: 190px;
    position: absolute;
    z-index: 1;
    float: left;
    margin-top: 2px;
}

.vcab_3box_content {
    width: 158px;
    border: 1px solid #bbbbbb;
    background: #fff;
    min-height: 100px;
    margin-top: -1px;
    z-index: 2;
    position: relative;
    padding: 15px;
    font-size: 13px;
}

.vcab_3box_content a {
    color: #3680a0;
}

.vcab_3box_content a:hover {
    text-decoration: underline;
}

.vcab_3box_arrow {
    width: 18px;
    height: 9px;
    margin-left: 12px;
    z-index: 3;
    background: url(vcab_arrup-1.png)/*tpa=http://noidung.thuviengiaoduc.org/file/baihoc/listening/luyen-nghe-tieng-anh-co-ban/luyen-tap/5-part1/game_1/images/vcab_arrup.png*/ left top no-repeat;
    position: relative;
}

/*Game keo tha*/
.gkt_note {
    width: 100%;
    float: left;
    font-size: 14px;
    font-style: italic;
    color: #7a7a7a;
    line-height: 15px;
}

.gkt_audio_long {
    width: 100%;
    float: left;
    margin: 15px 0;
}

.gkt_bigbox {
    width: 742px;
    float: left;
    margin: 0 0 0 12px;
    position: relative;
}

.gkt_top_box {
    width: 100%;
    float: left;
    height: 416px;
}

.gkt_bottom_box {
    width: 100%;
    float: left;
    height: 268px;
}

.gkt_top_item {
    width: 170px;
    height: 186px;
    float: left;
    margin: 10px 12px 10px 0;
    border: 1px solid #accbd8;
    background: #fff;
    text-align: center;
}

.gkt_top_item_number {
    width: 50%;
    margin-left: 25%;
    height: 30px;
    color: #575757;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.gkt_top_item_outline {
    width: 150px;
    height: 110px;
    border: 1px dashed #d1d1d1;
    position: absolute;
    top: 0;
    left: 0;
    background: #fafafa;
    line-height: 110px;
    font-size: 14px;
    color: #a4a4a4;
    font-style: italic;
}

.gkt_top_item_outline.active {
    border: 1px dashed #b2b2b2;
}

.gkt_top_item_te {
    width: 170px;
    font-size: 14px;
    color: #a4a4a4;
    height: 40px;
    line-height: 40px;
    font-style: italic;
    position: absolute;
}

.gkt_line_ar {
    width: 725px;
    float: left;
    height: 35px;
    background: url(gkt_bg_ar_up.png)/*tpa=http://noidung.thuviengiaoduc.org/file/baihoc/listening/luyen-nghe-tieng-anh-co-ban/luyen-tap/5-part1/game_1/images/gkt_bg_ar_up.png*/ center center no-repeat;
}

.gkt_bottom_item {
    width: 146px;
    height: 106px;
    position: absolute;
    border: 1px dashed #b8b8b8;
    z-index: 2;
    cursor: move;
    padding: 2px;
}

.gkt_bottom_item img {
    height: 106px;
    width: 146px;
}

.gkt_bottom_item2 {
    width: 146px;
    height: 106px;
    position: absolute;
    border: 1px dashed #b8b8b8;
    z-index: 1;
    opacity: 0.5;
    padding: 2px;
}

.gkt_bottom_item2 img {
    height: 106px;
    width: 146px;
}

.gkt_text_box {
    width: 725px;
    float: left;
    height: 78px;
}

.gkt_text_item {
    position: absolute;
    border: 1px dashed #b2b2b2;
    max-height: 26px;
    line-height: 14px;
    font-weight: bold;
    font-size: 14px;
    width: 170px;
    text-align: center;
    padding: 4px 0;
    z-index: 5;
    cursor: move;
}

.gkt_text_item2 {
    position: absolute;
    border: 1px dashed #b2b2b2;
    max-height: 26px;
    line-height: 14px;
    font-weight: bold;
    font-size: 14px;
    width: 170px;
    text-align: center;
    padding: 4px 0;
    z-index: 4;
    color: #c0c0c0;
}

.gkt_hr {
    width: 725px;
    float: left;
    height: 1px;
    background: #e7e7e7;
    margin: 15px 0;
}

.gkt_control {
    width: 726px;
    float: left;
}

.gkt_submit_bt {
    padding: 0 20px;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    background: url(bg_bt_submit.jpg)/*tpa=http://noidung.thuviengiaoduc.org/file/baihoc/listening/luyen-nghe-tieng-anh-co-ban/luyen-tap/5-part1/game_1/images/bg_bt_submit.jpg*/ repeat-x;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    float: right;
}

.gkt_show_bt {
    background: url(bg_bt_show.jpg)/*tpa=http://noidung.thuviengiaoduc.org/file/baihoc/listening/luyen-nghe-tieng-anh-co-ban/luyen-tap/5-part1/game_1/images/bg_bt_show.jpg*/ repeat-x;
    float: right;
    margin-right: 10px;
}

.gkt_redo_bt {
    background: url(bg_bt_show.jpg)/*tpa=http://noidung.thuviengiaoduc.org/file/baihoc/listening/luyen-nghe-tieng-anh-co-ban/luyen-tap/5-part1/game_1/images/bg_bt_show.jpg*/ repeat-x;
}

.gkt_submit_te {
    float: left;
    margin-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #d56d00;
    font-weight: bold;
}

.gkt_box_answer {
    width: 728px;
    float: left;
    background: #fdfbe9;
    border: 1px solid #e4d4c1;
    margin-bottom: 20px;
}

.gkt_box_ans_item {
    width: 170px;
    height: 185px;
    border: 1px solid #accbd8;
    float: left;
    margin: 20px 5px 0 5px;
    background: #ffffff;
}

.gkt_ans_number {
    width: 100%;
    float: left;
    height: 29px;
    line-height: 29px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.gkt_ans_images {
    width: 150px;
    height: 110px;
    float: left;
    margin: 0 9px;
    border: 1px dashed #979797;
}

.gkt_ans_name {
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.gkt_tf_icon {
    width: 30px;
    height: 20px;
    float: right;
    text-align: center;
    margin: 5px;
}

.drag-hover {
    border: 1px solid #57a8e6
}

.box_game {
    width: 725px;
}

.box_game .clear-fix {
    clear: both;
}

.box_game .drag_area {
    width: 100%;
    height: 70px;
    float: left;
}

.drag_item {
    border: 1px dashed #B2B2B2;
    cursor: move;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 4px 10px;
    text-align: center;
    width: auto;
}

.drag_item_p {
    border: 1px dashed #B2B2B2;
    cursor: move;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    padding: 4px 10px;
    text-align: center;
    width: auto;
}

.box_game .drop_area {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 15px;
}

.box_game .box_game_content {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.paragraph_drop {
    margin-bottom: 10px;
}

.paragraph_drop .span_bold {
    font-weight: bold;
    padding: 0 5px 0 0;
}

.paragraph_drop .blank_drop {
    border: 1px dashed #B2B2B2;
    font-weight: bold;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 3px 12px;

}

.no_border {
    border: solid 1px transparent;
}

.text_black {
    color: #333333 !important;
}

.gkt_box_answer .paragraph_drop .blank_drop {
    border: none;
    color: #58960F;
    padding: 0;
}

.gkt_box_answer .paragraph_drop:hover  .text_translation {
    display: block;
}

.gkt_box_answer .paragraph_drop  .text_translation {
    background: none repeat scroll 0 0 #EBF88A;
    border: 1px solid #A8C795;
    border-radius: 5px 5px 5px 5px;
    color: #E50D45;
    display: block;
    padding: 0 5px;
    position: absolute;
    z-index: 50;
    display: none;
}

.gkt_box_answer .paragraph_drop {
    position: relative;
    cursor: pointer;
}

.gkt_box_answer .title_answer {
    border-bottom: 1px solid #ECE9D9;
    padding: 2px 0;
}

.gkt_box_answer .title_answer span {
    color: #D56D00;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;
}

.gkt_box_answer .content_answer {
    padding: 10px 15px;
}

.paragraph_drop .s_key {
    padding: 5px 15px;
    text-align: center;
    margin-left: 5px;
}

.paragraph_drop .s_key.key_false {
    background: url("../images/icon_false.png") no-repeat;
}

.paragraph_drop .s_key.key_true {
    background: url("../images/icon_true.png") no-repeat;
}

