@charset "utf-8";
/* CSS Document */
body {width:100%; margin:0 auto; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding-top:20px;}
button {font-family:Arial, Helvetica, sans-serif}
.qz_box,.qzbg_box { background:url("bg_start.png")/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bg_start.png*/ no-repeat; position:relative;width:734px; height:560px; display:none; margin:auto; border:1px solid #cecece; border-radius:14px; box-shadow:2px 2px 4px #bcbcbc; overflow:hidden}
.qz_top{width:716px; padding-left:22px; height:29px; padding-top:10px; font-size:20px; color:#707070; float:left;}
.qz_title {width:717px; height:30px;line-height:29px; margin-left:-1px; background: url(bg_title-1.jpg)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bg_title.jpg*/ top right no-repeat #ef7f03; padding-left:23px; font-size:14px; color:#fff; float:left; }
.qz_title_name {float:left;}
.qz_title_copy {float:right; margin:4px 10px 0 0; cursor:pointer;}
.qz_content {width:96%; height: 321px; float:left; padding:5px 2% 0 2%; display:none;}
.qz_content_start {width:94%; float:left; padding:10px 3%;}
.qz_content_end {width:94%; float:left; padding:10px 3%; display:none;}
.qz_control {width:94%; padding:18px 3%; float:left; text-align:center;}
.qz_control_fixed {padding:8px 3%;position:absolute;top:486px;*position:static;}
.qz_bt_outline,.qzbg_bt_outline {padding:0 50px ; background:url(bg_bt_outline-1.jpg)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bg_bt_outline.jpg*/ top left no-repeat; font-size:16px; height:32px; line-height:30px; border:1px solid #b8b8b8; cursor:pointer; margin:0 5px; border-radius:6px; color:#575757; }
.qz_bt_outline:hover {background:url(bg_bt_outline-1.jpg)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bg_bt_outline.jpg*/ 0px -32px no-repeat;}
.qz_bt_orange {padding:0 50px ; background:url(bt_submit-2.jpg)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bt_submit.jpg*/ 0px 0px repeat-x; height:32px; line-height:30px; cursor:pointer; border:1px solid #f58c09; font-size:16px; margin:0 5px; border-radius:6px; color:#fff;}
.qz_bt_orange:hover {background:url(bt_submit-2.jpg)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bt_submit.jpg*/ 0px -34px repeat-x;}
.qz_bt_green {padding:0 50px ; background:url(bt_submit-2.jpg)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bt_submit.jpg*/ 0px -68px repeat-x; height:32px; line-height:30px; cursor:pointer; border:1px solid #52a108; font-size:16px; margin:0 5px; border-radius:6px; color:#fff;}
.qz_bt_green:hover {background:url(bt_submit-2.jpg)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bt_submit.jpg*/ 0px -102px repeat-x;}
.qz_orange {color:#ee7600;}
.qz_bt_next {padding:0 50px ; background:url(bt_next_back-1.jpg)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bt_next_back.jpg*/ center top  no-repeat; height:35px; line-height:32px; cursor:pointer; border:1px solid #52a108; font-size:16px; margin:0 5px; border-radius:6px; color:#fff; float:right;}
.qz_bt_back {padding:0 50px ; background:url(bt_next_back-1.jpg)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bt_next_back.jpg*/ center bottom  no-repeat; height:36px; line-height:32px; cursor:pointer; border:1px solid #b8b8b8; font-size:16px; margin:0 5px; border-radius:6px; color:#575757; float:right;}
.qz_bt_prev {padding:0 50px ; background:url(bt_next_back-1.jpg)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bt_next_back.jpg*/ center bottom  no-repeat; height:35px; line-height:32px; cursor:pointer; border:1px solid #b8b8b8; font-size:16px; margin:0 5px; border-radius:6px; color:#575757; float:right; display:none;}
.qz_bt_review {padding:0 50px ; background:url(bg_review_bt-1.jpg)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bg_review_bt.jpg*/ repeat-x; font-size:16px; height:32px; line-height:30px; border:1px solid #b8b8b8; cursor:pointer; margin:0 5px; border-radius:6px; color:#575757; }
.qz_bt_redo {padding:0 50px ; background:url(bg_bt_redo-1.jpg)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bg_bt_redo.jpg*/ top center  no-repeat; height:36px; line-height:32px; cursor:pointer; border:1px solid #f48908; font-size:16px; margin:0 5px; border-radius:6px; color:#fff;}
.quiz_tbao{ display:none;}

/*Dang 1*/
.qz_st1 {float:left;}
.qz_st1_note {font-size:14px; font-weight:bold; float:left; color:#21618e; width:100%}
.qz_st1_ques {width:100%; float:left; margin:13px 0; text-align:center; font-size:18px; font-weight:bold; color:#3f3f3f;}
.qz_st1_content {width:100%;text-align:center; float:left; margin:10px 0 20px;}
.qz_st1_item {margin:0 10px; cursor:pointer; position:relative;}
.qz_st1_tick {width:100%; height:100%;position:absolute; background:url(st1_tick-1.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/st1_tick.png*/ center center no-repeat; top:0; left:0;}
.box_active{ display:block}


/*Dang 2*/
.qz_st2_note_o {color:#ee7600; font-size:14px; float:left; width:100%}
.qz_st2_content {width:100%; float:left;}
.qz_st2_left {float:left; width:500px;}
.qz_st2_right {float:right; width:182px;margin-top:30px;}
.qz_match_inx_right{ display:none}
.qz_st2_img { border:1px solid #cccccc;}
.qz_st2_ritem {float:left; margin-bottom:12px; width:100%;}
.qz_st2_ritem img{
	cursor:pointer;
}


.qz_st2_item {width:225px; min-height:45px; float:left;border-radius:4px; margin:0 5px 10px 0; cursor:pointer;}
.qz_st2_item:hover {background:#e9f4f6;}
.qz_st2_tick {width:14px; height:14px; margin:auto 5px; float:left}
.qz_chk_tick {width:14px; height:14px; margin:7px 5px; float:left}
.qz_st2_radio {width:17px; height:17px; background:url(radio_bg-1.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/radio_bg.png*/ 0px 0px no-repeat; float:left; margin-top:10px;}
.qz_st2_item.qz_ticked_radio .qz_st2_radio {background:url(radio_bg-1.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/radio_bg.png*/ 0px -18px no-repeat;}
.qz_st2_text {width:170px; float:left; font-size:14px; font-weight:bold; padding:9px 7px 0 7px; color:#575757; line-height:16px; overflow-wrap: break-word;}
.qz_st2_answer {width:100%; border-top:1px solid #c2c2c2; float:left; color:#3f3f3f; font-size:14px; padding:5px 0; line-height:36px;}


/*Dang 3*/
.qz_st3_text {width:100%; text-align:center; float:left;}
.qz_st3_text center{ width:25%; margin: 10px auto;}
.qz_st3_text img{ max-width:500px; max-height:150px;}
.qz_st3_boxtext {width:80%; padding:5px 10%; float:left;}
.qz_st3_tick {width:14px; height:14px; margin:20px 8px; float:left}
.qz_st3_input {width:410px; height:40px; line-height:40px; border-radius:4px; border:none; padding: 0 20px; box-shadow:inset 1px 1px 2px #979797; color:#777676; font-size:16px; font-weight:bold;}
.qz_st3_input_outline {float:left; padding:8px 36px; background:#e5f3f6; border-radius:5px;}
.qz_st3_right {float:left; width:450px}
.qz_st3_answer {float:left; line-height:36px; font-size:14px; display:none}

/*Dang 4*/

.qz_st4_left {float:left; width:500px;}
.qz_match_drop {float:left;width:242px;}
.qz_match_drag {float:left; width:242px; margin-left:15px; position:relative}
.stt_mat_drag{ cursor:pointer;}
.qz_match_inx {float:left; width:23px;}
.qz_st4_lbox {width:242px; float:left;}
.qz_st4_litem {float:left;width:186px; padding:0 20px 0 10px; height:45px; background:url(bg_st4_left-1.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bg_st4_left.png*/ 0px 0px no-repeat; font-size:14px; color:#434343; font-weight:bold; margin-bottom:10px;}
.qz_st4_litem:hover {background:url(bg_st4_left-1.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bg_st4_left.png*/ 0px -45px no-repeat; cursor:pointer}
.qz_st4_rbox {width: 266px; float:left; margin-left:-10px; position:relative;}
.qz_st4_ritem {width:180px; padding:0 14px 0 23px; background:url(bg_st4_right-1.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bg_st4_right.png*/ top left no-repeat; font-size:14px; color:#434343; font-weight:bold; float:left; margin-bottom:10px;}
.qz_st4_litem tr, .qz_st4_ritem tr {height:45px;}
.qz_st4_llayout {float:left; margin-bottom:8px;}
.qz_st4_number { margin-right:5px; margin-top:12px;width:21px; float:left;  background:url(cicle_icon_gray-1.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/cicle_icon_gray.png*/ no-repeat; line-height:21px; font-family:"Times New Roman", Times, serif; font-size:18px; font-weight:bold; text-align:center; color:#fff; visibility:visible;}

.qz_st4_number.qz_correct_cil {background:url(cicle_icon_green-1.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/cicle_icon_green.png*/ no-repeat}
.qz_st4_number.qz_incorrect_cil{background:url(cicle_icon_red-1.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/cicle_icon_red.png*/ no-repeat}
.qz_st4_number_r {margin:12px 0 0 200px; float:left}
.qz_st4_rlayout { position:absolute; cursor:pointer;}
.qz_st4_rlayout:hover  .qz_st4_ritem { background:url(bg_st4_right-1.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bg_st4_right.png*/ 0 -45px no-repeat;}
.qz_st4_ans_box {width:100%; float:left; position:absolute; top:413px;*position:static;}
.qz_st4_ritem td{ line-height:16px;}
.qz_st4_litem td{ line-height:16px;}
/*Dang 5*/
.qz_st5_left {width:45px; float:left; text-align:center;}
.qz_st5_left_item {float:right; width:30px; text-align:center; height:34px; margin-top:7px; font-family:"Times New Roman", Times, serif; font-size:16px; color:#8c8b8b;}
.qz_st5_right {width:300px;float:left; position:relative;}
.qz_st5_right_layout {width:100%; height:29px; line-height:27px; margin-bottom:10px;}
.qz_st5_right_item {position:absolute;width:211px; height:27px; background:url(bg_item_st5-1.jpg)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bg_item_st5.jpg*/ repeat; border-radius:3px; border:1px solid #ffc09c; padding:0 17px; float:left; font-size:14px; font-weight:bold; color:#323232; cursor:pointer; line-height:27px;}
.qz_st5_right_item:hover {border:1px solid #4ca7bd}
.qz_st5_right_stt {width:43px; text-align:center; float:left; font-family:"Times New Roman", Times, serif; font-size:16px; color:#8c8b8b;}
.qz_st5_right_item_outline {width:247px; height:29px; float:left; border-radius:3px; box-shadow:inset 1px 1px 3px #c5c5c5; margin-bottom:10px;}
.sort-drag-hover{border:1px solid #4ca7bd}
/* Dang 6*/
.qz_st6_item {width:225px; min-height:45px; float:left;border-radius:4px; margin:0 5px 10px 0;cursor: pointer;}
.qz_st6_item:hover{background: #e9f4f6;}
.qz_chkbox_checked {background:url(rs_tick_checked.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/rs_tick_checked.png*/ 3px 3px no-repeat;}
.qz_check_ic {width:16px; height:16px;border-radius:2px; border:1px solid #b2aca5; float:left; cursor:pointer;}
.qz_st6_item .qz_check_ic {margin-top:8px;}
.qz_st6_item .qz_st2_text {width:168px;}
/*Baigiang*/

.qz_baigiang {font-size:14px; float:left; color:#3f3f3f;}
.qz_baigiang_title {font-weight:bold; margin-bottom:20px;}
.qz_baigiang_content {float:left; line-height:16px;}
.qz_baigiang_note {float:left; margin-top:20px; font-weight:bold;}
.qz_sta_left {width:70%; float:left;}
.qz_sta_right {width:30%; float:right;text-align:center}
.qz_sta_right img{cursor:pointer; max-width:190px; max-height:200px;}
.qz_title_big {width:100%; font-size:24px; font-weight:bold; color:#e33600; text-align:center; margin-top:80px;}
.qz_baigiang_table {width:692px; float:left; background:#cfe09d; margin-top:20px; border:1px solid #9bc525; border-radius:6px;}
.qz_bg_table_item {float:left; border-left:1px solid #fff; border-right:1px solid #d5d5d5; text-align:center; color:#3b3b3b;}
.qz_bg_table_itop {float:left; height:40px;line-height:40px;width:100%; font-size:14px; background:url(bg_title_table2.jpg)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bg_title_table2.jpg*/ repeat-x;}
.qz_bg_table_value {float:left; height:65px; line-height:65px; width:100%; font-size:24px; font-weight:bold;}


/*Ans*/
.qz_st_answer {width:100%; border-top:1px solid #c2c2c2; float:left; color:#3f3f3f; font-size:14px; padding:5px 0; text-align:center; line-height:36px;}
.qz_st_anstatus {width:100%; text-align:left}
.qz_st_ans_kq { height:14px; line-height:14px; /*background:url(../images/correct_icon.png) top left no-repeat; */ padding-left:20px; min-width:50px; font-size:16px; font-weight:bold; float:right; padding-top:4px; line-height:24px;}
.qz_incor {color:red;}
.qz_cor {color:#51a007;}
.drag-hover {background:url(bg_st4_left-1.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bg_st4_left.png*/ 0px -45px no-repeat;}
.qz_start,.qzbg_start{ display:block;}
.stt_page_type{ display:none}
.qz_tbao{visibility:visible}
.qz_next{display:none;}
.qz_clr{clear:both;}
/*Popup*/
.qz_pop {width:100%; height:100%; position:absolute; background:url(bg_opacity-1.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/bg_opacity.png*/; top:0; left:0; float:left; z-index:300;}
.qz_pop_layout{width:520px; margin:100px auto 0; background:url(pop_up.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/pop_up.png*/ no-repeat; text-align:center;font-size:18px; font-weight:bold; color:#474646; line-height:24px; height:430px; padding:110px 30px 30px 30px;}
.qz_pop_layout a{color:#ef7f03;}
.qz_pop_bt{background:url(button_dang_ky_thanh_vien.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/button_dang_ky_thanh_vien.png*/ no-repeat; border-radius:4px; color:#fff; padding:0 30px; line-height:45px; height:45px; display:inline-block; width:200px;}
.qz_close_pp{ background:none; border:none; cursor:pointer; position:relative; float:right; right:54px; top:123px;}
/*Outline*/
.qz_outline_box,.qzbg_outline_box {width:96%; margin:30px auto; padding:0; text-align:left; font-size:12px; overflow:hidden;}
.qz_outline_title {height:36px; float:left; width:100%; line-height:36px; color:#fff; font-weight:bold; background:#ef7f03;}
.qz_outline_middle {width:96%; padding:10px 2%; background:#fff; height:300px; float:left;}
.qz_outline_bottom {width:100%; height:22px; float:left; background:#f1f1f1; line-height:22px; padding:7px 0;}
.qz_ou_bt_item {float:left; padding:0 29px; border-left:1px solid #c5c5c5; height:22px;}
.qz_ou_bt_item .orange {color:#ef7f03;}
.qz_outline_title1 {margin-left:22px; width:505px; float:left;}
.qz_outline_title2 {float:left; width:85px;}
.qz_outline_title3 {float:left; width:50px;}
.qz_ouclose {width:35px; height:28px; margin:3px; float:right; background:url(close_button-1.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/close_button.png*/ center center no-repeat #d2edf7; border-radius:6px; cursor:pointer;}
.qz_outmd_row {width:97%; float:left; height:42px; cursor:pointer;line-height:42px; border-top:1px solid #dddddd; font-weight:normal;}
.qz_outmd_row:hover,.qz_outmd_row.qz_ol_active {background:url(row_kq_hover-1.jpg)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/row_kq_hover.jpg*/ center center repeat-x;}
.qz_outmc_text {width:480px; padding-left:10px; float:left; overflow:hidden;white-space:nowrap; text-overflow: ellipsis; }
.qz_outmc_tf{float:left; width:30px; height:42px; margin-left:30px;}
.qz_outmc_tf.qz_true{background:url(correct_icon-1.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/correct_icon.png*/ center center no-repeat;}
.qz_outmc_tf.qz_false{background:url(incorrect_icon-1.png)/*tpa=http://www.thuviengiaoduc.org/file/dungchung/quiz_tate/images/incorrect_icon.png*/ center center no-repeat;}
.qz_outmc_scores {float:left; width:80px; text-align:right;}
.qz_outline{ display:none;}

/* bai giang */
.qzbg_content_end{ display:none;}
.qzbg_next{ display:block}
.qz_title_hidden{ display:none;}
/* copyright */
.qz_cpr_popup{
	z-index:9999;
	width:234px;
	height:106px;
	background-image:url('../images/mcb_bg_copyright.png');
	background-repeat:repeat-x;
	float: right;
	left: 86px;
	top: 30px;
	position: relative;
}

.qz_cpr_top{
	line-height: normal;	
	font-size:12px;
	color:#9a5101;
	padding-top: 10px;
	padding-left: 14px;
}

.qz_cpr_bottom{
	line-height: normal;	
	font-size:12px;
	color:#808080;
	padding-left: 14px;
	padding-top: 20px;
}

/* popup image */
.qz_pop_img{
	margin-top: -32px;
	max-width:500px;
	max-height:500px;
}
.loader {
    background: url("../images/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
	display: none;
	z-index: 9999;
	top: 40%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}
.backgroundPopup{ 
	z-index: 201;
	position: absolute;
	display: none;
	height: 100%;
	width: 100%;
	opacity: 0.7;
	background: #000000;	
	top: 0px;  
	left: 0px;
}

.toPopup{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    left: 50%;
    position: fixed;
    top: 45%;
    z-index: 202;
}
div.close {
    background: url("../images/closebox.png") no-repeat scroll 0 0 transparent;
    bottom: 24px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 27px;
    position: relative;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 15px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 94px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}

/* style feedback*/
.qz_feedback{ display:none;}
.qz_feedback_show{float:left; width:95%; margin-left:10px; font-style:italic;  text-align:justify; color:#575757; position:relative; top:40px;}

/* set picture size */
.qz_content_start .qz_sta_right img{
	width:200px;
	height:165px;
}
.qz_index_sort{ float:right;}
.qz_sort_drop{ position:absolute; z-index:1}
.qz_sort_drag {z-index:10;}
.qz_tbao .qz_st2_answer{
	line-height:16px;
}