.ss{ position:relative; z-index:999; width:300px;top:-150px; background-color:#FDFDFD;bottom:0px;  left:362px; padding:20px;border:2px solid #ddd; 
box-shadow:1px 1px 4px #ccc;
}

	.question{ display:block; padding-left:25px;}
	#result{ display:none}
	.page_question{ font-family:"Times New Roman", Times, serif;  display:none; text-align:justify; position:relative;}
	
	.hidd{ width:15px; visibility:hidden; margin-left:25px;}
	.correct{ width:15px; visibility:hidden;}
	#close{ margin-left:0px; color:red;}
	.back , .next{ cursor:pointer}
	#result_end{ display:none;}
	p{font-family:"Times New Roman", Times, serif; font-size:14px; }