@charset "utf-8";
*{margin:0;padding:0}
/* CSS Document */
body{ background:#FFF;}
#offline_body  		{font-size:12px;color:#000; width:730px;font-family:Arial, Helvetica, sans-serif; line-height:20px; float:left;}
img			{border:0;}
a			{text-decoration:none;}
ul, ol 		{list-style: none;	padding-left:0; margin:0;}
.hidden{display: none;}
.space5{height: 5px; width: 100%; clear: both;}
.space10{height: 10px; width: 100%; clear: both;}
.space15{height: 15px; width: 100%; clear: both;}
.space20{height: 20px; width: 100%; clear: both;}
.space25{height: 25px; width: 100%; clear: both;}

.slide_big { width:722px; height:222px; float: left;}
	.slide_big1 { width:722px; height:165px; float: left; background:url(slide1.jpg)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/slide1.jpg*/ no-repeat; padding-top:55px;}
	.slide_big2 { width:722px; height:165px; float: left; background:url(slide2.jpg)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/slide2.jpg*/ no-repeat; padding-top:55px;}
	.slide_big3 { width:722px; height:165px; float: left; background:url(slide3.jpg)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/slide3.jpg*/ no-repeat; padding-top:55px;}
	.slide_big4 { width:722px; height:165px; float: left; background:url(slide4.jpg)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/slide4.jpg*/ no-repeat; padding-top:55px;}
	.slide_big5 { width:722px; height:165px; float: left; background:url(slide5.jpg)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/slide5.jpg*/ no-repeat; padding-top:55px;}
.slide_text { margin-left:34px; background:url(line.png)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/line.png*/ no-repeat top left; height:23px; width:656px; font-size:12px; font-weight:bold; padding-left:23px; padding-top:5px;}
.slide_button {margin-left:59px; width:102px; margin-top:8px;}
.slide_thumb { width:142px; height:70px; float:left; background:url(bg_thumb.png)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/bg_thumb.png*/ no-repeat; margin-top:-8px;}
.slide_thumb2 {width:138px; height:52px; float:left; background-color:#FFF; margin:16px 0 0 2px;}
.slide_thumb_img { width:46px; height:46px; float:left; border:1px solid #e2e2e2; margin:2px 0 0 2px}
.slide_thumb_text {width:75px; height:47px; float:left; margin:5px 0 0 6px; font-size:11px; line-height:14px; color:#000;}
a:hover .slide_thumb, .active .slide_thumb {  background:url(bg_thumb_hover.png)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/bg_thumb_hover.png*/ no-repeat;}
a:hover .slide_thumb .slide_thumb2 .slide_thumb_text,.active .slide_thumb .slide_thumb2 .slide_thumb_text{ color:#b12a00;}
.slide_show { width:722px; border:2px solid #ffbb78; padding:2px; float:left; background:url(bg_slideshow.jpg)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/bg_slideshow.jpg*/ bottom repeat-x;}

.detail_banner_img { width:730px; height:89px; float:left; margin-top:15px;}
.detail_layout { width:730px; margin-top:12px; float:left;}

.detail_layout_title { width:730px; float:left; height:37px;text-transform:uppercase; color:#fff;}
.detail_title_left{ width:40px; float:left; height:28px; text-align:center; font-family:"Times New Roman", Times, serif; font-size:20px; padding:9px 0 0 12px;}
.detail_title_center{ width:667px; float:left; height:29px; padding:8px 0 0 10px; font-weight:bold; font-size:14px; text-shadow:1px 1px #222222; }
.detail_title_right{ width:1px; float:left; height:37px; }
.detail_layout_content { width:684px; border:1px solid #d7d7d7;border-top:0; float:left; background:url(bg_content.jpg)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/bg_content.jpg*/ bottom #fff no-repeat; padding:22px;text-align:justify; font-size:14px; line-height:22px; margin-bottom:10px;}

.span_text_1 { width:660px; background:url(arrow.png)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/arrow.png*/ no-repeat; padding-left:18px; float:left; margin-bottom:6px;}
.span_text_2 { width:655px; background:url(arrow2.png)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/arrow2.png*/ no-repeat; padding-left:30px; float:left; margin-bottom:4px; font-size:12px;}
.title_blue { color:#06C; font-weight:bold;}
.feedback { width:660px; float:left; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px ; background:#e5ffd2; border:1px solid #89e770; min-height:50px; padding:10px; font-size:12px; }
.feedback_left {	width: 180px;	float: left;	margin-left: 10px;	color: #000;}
.feedback_name { font-weight:bold; color:#ff3600;}
.feedback_right  { width:465px; float:left; font-style:italic; color:#262626 }
.feedback_content {width:660px; float:left; margin-bottom:10px;}
.title_left_1 { background:url(bg_title_left_1.png)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/bg_title_left_1.png*/ no-repeat;}
.title_center_1 { background:url(bg_title_center_1.png)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/bg_title_center_1.png*/ repeat-x;}
.title_right_1 { background:url(bg_title_right_1.png)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/bg_title_right_1.png*/;}
.title_left_2 { background:url(bg_title_left_2.png)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/bg_title_left_2.png*/ no-repeat;}
.title_center_2 { background:url(bg_title_center_2.png)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/bg_title_center_2.png*/ repeat-x;}
.title_right_2 { background:url(bg_title_right_2.png)/*tpa=http://www.thuviengiaoduc.org/file/khaigiang/images/bg_title_right_2.png*/;}
.title_left_3 { background:url(../images/bg_title_left_3.png) no-repeat;}
.title_center_3 { background:url(../images/bg_title_center_3.png) repeat-x;}
.title_right_3 { background:url(../images/bg_title_right_3.png);}
.title_left_4 { background:url(../images/bg_title_left_4.png) no-repeat;}
.title_center_4 { background:url(../images/bg_title_center_4.png) repeat-x;}
.title_right_4 { background:url(../images/bg_title_right_4.png);}
.title_left_5 { background:url(../images/bg_title_left_5.png) no-repeat;}
.title_center_5 { background:url(../images/bg_title_center_5.png) repeat-x;}
.title_right_5 { background:url(../images/bg_title_right_5.png);}

.title_table{ height:31px; font-weight:bold; color:#fff;}
.detail_layout_content td {
	padding-left: 8px;
	line-height: 24px;
	
}.red {
	color: #F00;
}
.orange {
	color: #F30;
	font-weight:bold;
}

.step_left { width:67px; height:23px;  float:left; background:url(../images/bg_step.png); padding: 1px 0 0 20px; margin-top:6px;}
.step_right {width:580px; float:left; margin-left:10px;}
.step { width:680px; float:left; margin-bottom:14px;}
