@charset "utf-8";
.jp-gui {
	position:relative;
	width:190px;
	height:27px;
	background:url(bg_player.png)/*tpa=http://www.thuviengiaoduc.org/static/js/audioPlayer/jplayer/css/images/bg_player.png*/ no-repeat;
}
.jp-gui.jp-no-volume {
	width:432px;
}
.jp-gui ul {
	margin:0;
	padding:0;
}
.jp-gui ul li {
	position:relative;
	float:left;
	list-style:none;
	margin: 2px 0 0 8px;	
	padding:4px 0;
	cursor:pointer;
}
.jp-gui ul li a {
	margin:0 4px;
}
.jp-gui li.jp-repeat,
.jp-gui li.jp-repeat-off {
	margin-left:344px;
}
.jp-gui li.jp-mute,
.jp-gui li.jp-unmute {
	margin-left:20px;
}
.jp-gui li.jp-volume-max {
	margin-left:120px;
}
li.jp-pause,
li.jp-repeat-off,
li.jp-unmute,
.jp-no-solution {
	display:none;
}
.jp-progress-slider {
	position:absolute;
	top:10px;
	left:48px;
	width:93px;
}
.jp-progress-slider .ui-slider-handle {
	cursor:pointer;
}
.jp-volume-slider {
	position:absolute;
	top:31px;
	left:508px;
	width:100px;
	height:.4em;
}
.jp-volume-slider .ui-slider-handle {
	height:.8em;
	width:.8em;
	cursor:pointer;
}
.jp-gui.jp-no-volume .jp-volume-slider {
	display:none;
}
.jp-current-time,
.jp-duration {
	position:absolute;
	top:0px;
	font-size:0.8em;
	cursor:default;
}
.counttime{
	left: 150px;
        position: relative;
        font-size: 11px;
        top: -19px;
        font-weight: normal;
        font-style: normal;
        width: 30px;
        height: 20px;
        line-height: normal;
}
.jp-duration {
	right:100px;
}
.jp-gui.jp-no-volume {
	right:70px;
}
.jp-clearboth {
	clear:both;
}/* CSS Document */

